<h3>Criando nova categoria de carro</h3>

<%= form_for @category do |f| %>
    <p><%= f.label :name %></p>
    <p><%= f.text_field :name %></p>

    <p><%= f.label :daily_rate %></p>
    <p><%= f.text_field :daily_rate %></p>

    <p><%= f.label :car_insurance %></p>
    <p><%= f.text_field :car_insurance %></p>

    <p><%= f.label :third_party_insurance %></p>
    <p><%= f.text_field :third_party_insurance %></p>

    <%= f.submit "Salvar" %>
<% end %>